<h2>Employee List</h2>

<table class="table table-striped">
<thead>
    <tr>
        <th>First Name </th>
        <th>Last Name </th>
        <th>Email Id </th>
        <th> Actions </th>
    </tr>
</thead>
<tbody>
    <!-- ngFor is the inbuilt angular directive which we can use to iterate array of elements or list of elements -->
    <!-- basically employees is an array which we need to defiine in component -->
    <tr *ngFor = "let employee of employees">
            <td>{{ employee.firstName}}</td>
            <td>{{ employee.lastName}}</td>
            <td>{{ employee.emailId}}</td>

            <td>
                <button (click) = "updateEmployee(employee.id)" class="btn btn-info"> Update </button>
            </td>

    </tr>
</tbody>
</table>


